### Analysis of an E-commerce Dataset

We have been provided with a combined e-commerce dataset. In this dataset, each user has the ability to post a rating and review for the products they purchased. Additionally, other users can evaluate the initial rating and review by expressing their trust or distrust.

This dataset includes a wealth of information for each user. Details such as their profile, ID, gender, city of birth, product ratings (on a scale of 1-5), reviews, and the prices of the products they purchased are all included. Moreover, for each product rating, we have information about the product name, ID, price, and category, the rating score, the timestamp of the rating and review, and the average helpfulness of the rating given by others (on a scale of 1-5).

The dataset is from several data sources, and we have merged all the data into a single CSV file named 'A Combined E-commerce Dataset.csv'. The structure of this dataset is represented in the header shown below.

| userId | gender | rating | review| item | category | helpfulness | timestamp | item_id | item_price | user_city|

    | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- |  ---- |  ---- |  
    
#### Description of Fields

* __userId__ - the user's id
* __gender__ - the user's gender
* __rating__ - the user's rating towards the item
* __review__ - the user's review towards the item
* __item__ - the item's name
* __category__ - the category of the item
* __helpfulness__ - the average helpfulness of this rating
* __timestamp__ - the timestamp when the rating is created
* __item_id__ - the item's id
* __item_price__ - the item's price
* __user_city__ - the city of user's birth

Note that, a user may rate multiple items and an item may receive ratings and reviews from multiple users. The "helpfulness" is an average value based on all the helpfulness values given by others.

There are four questions to explore with the data as shown below.



<img src="data-relation.png" align="left" width="400"/>

 #### Q1. Remove missing data
 
Please remove the following records in the csv file: 
 
 * gender/rating/helpfulness is missing
 * review is 'none'

__Display the DataFrame, counting number of Null values in each column, and print the length of the data__ before and after removing the missing data.

In [3]:
# your code and solutions
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
orignal_df= pd.read_csv('The E-commerce Dataset.csv')
orignal_df.info

<bound method DataFrame.info of        userId  timestamp                                    review  \
0        4051      12807                 Great job for what it is!
1        4052     122899               Free Access Worth your Time
2          33      12700             AOL..I love you!!!!!!!!!!!!
3          33      21000              EBAY!!!  I LOVE YOU!!!! :-)*
4          33      22300           Blair Witch...Oh Come On.......
...       ...        ...                                       ...
19995   10805      50600                 The Upper Class Fast Food
19996   10806      82201             What more can you ask for????
19997   10806      82201          Excellent steak for a good price
19998   10807      31504                     Different story world
19999   10808      10200  Boldly Displaying Sigourneys Cleavage ..

                                                    item  rating  helpfulness  \
0                                                   eBay     5.0          2.0
1                                                NetZero     5.0          0.0
2                                   AOL (America Online)     5.0          4.0
3                                                   eBay     5.0          4.0
4                                    Blair Witch Project     1.0          4.0
...                                                  ...     ...          ...
19995                                            Wendy's     2.0          3.0
19996                                       Olive Garden     4.0          0.0
19997                                 Outback Steakhouse     4.0          3.0
19998  J. K. Rowling - Harry Potter and the Sorcerer'...     4.0          0.0
19999                                       Galaxy Quest     4.0          0.0

      gender                  category  item_id  item_price  user_city
0          F  Online Stores & Services       88      149.00         39
1          F  Online Stores & Services       46       53.00         39
2          F  Online Stores & Services        0      145.84         31
3          F  Online Stores & Services       88      149.00         31
4          F                    Movies       12       44.00         31
...      ...                       ...      ...         ...        ...
19995      F     Restaurants & Gourmet       84       69.00         18
19996      M     Restaurants & Gourmet       49       32.00         28
19997      M     Restaurants & Gourmet       50       25.00         28
19998      M                     Books       36       96.00         27
19999      M                    Movies       29       67.00         11

[20000 rows x 11 columns]>

In [13]:
orignal_df.isnull().sum()

userId          0
timestamp       0
review          0
item            0
rating         17
helpfulness    22
gender         27
category        0
item_id         0
item_price      0
user_city       0
dtype: int64

In [15]:

orignal_df.head(100)

,userId,timestamp,review,item,rating,helpfulness,gender,category,item_id,item_price,user_city
0,4051,12807,Great job for what it is!,eBay,5.0,2.0,F,Online Stores & Services,88,149.00,39
1,4052,122899,Free Access Worth your Time,NetZero,5.0,0.0,F,Online Stores & Services,46,53.00,39
2,33,12700,AOL..I love you!!!!!!!!!!!!,AOL (America Online),5.0,4.0,F,Online Stores & Services,0,145.84,31
3,33,21000,EBAY!!! I LOVE YOU!!!! :-)*,eBay,5.0,4.0,F,Online Stores & Services,88,149.00,31
4,33,22300,Blair Witch...Oh Come On.......,Blair Witch Project,1.0,4.0,F,Movies,12,44.00,31
...,...,...,...,...,...,...,...,...,...,...,...
95,4083,92100,I'd Play it again,Final Fantasy VIII for PlayStation 1,5.0,4.0,F,Games,27,136.05,17
96,4083,92100,A great time to get it!,Final Fantasy VIII for PlayStation 1,5.0,0.0,NaN,Games,27,136.05,17
97,4083,92200,You don't have to have seen them!,Scary Movie,4.0,3.0,F,Movies,60,53.00,17
98,4083,92200,Movie is 'OK'. Little like The Ice Storm,American Beauty,4.0,3.0,F,Movies,5,59.00,17
99,4083,92600,Eat like a King for $5,Taco Bell,4.0,0.0,F,Restaurants & Gourmet,74,108.30,17

#### Q2. Descriptive statistics

With the cleaned data in Q1, please provide the data summarization as below:

* Q2.1 total number of unique users, unique reviews, unique items, and unique categories
* Q2.2 descriptive statistics, e.g., the total number, mean, std, min and max regarding all rating records
* Q2.3 descriptive statistics, e.g., mean, std, max, and min of the number of items rated by different genders 
* Q2.4 descriptive statistics, e.g., mean, std, max, min of the number of ratings that received by each items

In [ ]:
# your code and solutions

#### Q3. Plotting and Analysis

Please try to explore the correlation between gender/helpfulness/category and ratings; for instance, do female/male users tend to provide higher ratings than male/female users? Hint: you may use the boxplot function to plot figures for comparison (___Challenge___)
    
You may need to select the most suitable graphic forms for ease of presentation. Most importantly, for each figure or subfigure, please summarise ___what each plot shows___ (i.e. observations and explanations). Finally, you may need to provide an overall summary of the data.

In [ ]:
# your code and solutions

#### Q4. Detect and remove outliers

We may define outlier users, reviews and items with three rules (if a record meets one of the rules, it is regarded as an outlier):

* reviews of which the helpfulness is no more than 2
* users who rate less than 7 items
* items that receives less than 11 ratings 
 
Please remove the corresponding records in the csv file that involves outlier users, reviews and items. After that, __print the length of the data__.

In [1]:
# your code and solutions